* {
  box-sizing: border-box;
  font-family: "Helvetica Neue", Arial, "Hiragino Kaku Gothic ProN", Meiryo, sans-serif;
}

body {
  margin: 0;
  background-color: #4b0055;
  color: #ffffff;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 30px;
}

/* header */
.header {
  background-color: #ffffff;
  color: #000000;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 40px;
  margin-top: -40px;
  height: 80px;
  width: 100%;
}

.top-btn {
	background: #fff;
	color: #000;
	border: none;
	padding: 14px 40px;
	size: 20px;
	font-size: 16px;
	font-weight: bold;
	cursor: pointer;
	text-decoration: none;
}

.icon {
	width: 10vw;
	max-width: 60px;  /*最大の幅 */
	min-width: 40px;  /*最小の幅 */
	height: auto;
	margin-top: 10px; /* 上からの余白 */
	margin-left: 5px; /* 左からの余白 */
}

.logo {
  font-family: 'Alfa Slab One', cursive;
  font-weight: bold;
  height: 50%;
  font-size: 32px;
  margin-right: 10px;
}

/* hero */
.hero {
  display: grid;
  grid-template-columns: 1.2fr 1fr;
  gap: 40px;
  height: 280px;
  margin-bottom: 20px;
  border-radius: 30px;
}

.hero-text h1 {
  font-family: 'Alfa Slab One', cursive;
  font-size: 40px;
  margin: 20px 20px 20px;
  left: -50%;
  line-height: 1.2;
}

.hero-text p {
  font-family: "MS Mincho", serif;
  font-size: 20px;
  margin: 20px 20px 20px;
  line-height: 1.8;
}

.hero-image {
  width: 500px;
  height: 280px;
  border-radius: 30px;
  overflow: hidden;
  margin-bottom: -20px;
}

.hero-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}


/* info grid */
.info-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  margin-top: 100px;
}

.card {
  background: rgba(255, 255, 255, 0.5); /* 半透明 */
  color: #000000;
  padding: 18px;
  min-height: 200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.work-btn {
	background: #fff;
	color: #000;
	border: none;
	border-radius: 99px;
	padding: 14px 40px;
	size: 16px;
	font-size: 16px;
	font-weight: bold;
	cursor: pointer;
	text-decoration: none;
}

.label {
  font-size: 14px;
  opacity: 0.8;
  margin-bottom: 6px;
}

.value {
  font-size: 18px;
  font-weight: bold;
}

/* responsive */
@media screen and (max-width: 900px) {
  .hero {
    grid-template-columns: 1fr;
  }

  .info-grid {
    grid-template-columns: 1fr;
  }

  .hero-text h1 {
    font-size: 36px;
  }
}
