@charset "UTF-8";
body{
	background-color: #A997C6;  /*背景カラーを薄紫に*/
	min-height: 100vh;
	margin: 0;
	font-family: Arial, sans-serif;
	display: flex;
	justify-content: center;
	align-items: center;
	.container{
		background-color: #ffffff;
		padding: 40px;
		box-shadow: 0 4px 12px rgba(0,0,0,0,1);
		width: 400px;
		text-align: center;
	}
	.reverse{
		background-color: #ffffff;
		color: white;
				text-decoration: none;
				border: none;
				border-radius: 5px;
				font-size: 1.1em;
				cursor: pointer;
		position: fixed;
		top: 0;
		left: 0;
	}
	.message{
		margin-bottom: 30px;
	}
	.greeting{
		font-size: 1.5em;
		color: #555555;
		line-height: 1.5;
		font-weight: normal;
	}
	.submit-btn{
		display: block;
		margin: 0 auto;
		width: 60%;
		padding: 15px 0;
		margin-top: 20px;
		background-color: #A997C6;
		color: white;
		text-decoration: none;
		border: none;
		border-radius: 5px;
		font-size: 1.1em;
		cursor: pointer;
		transition: background-color 0.3s;
		text-align: center;
	}
	.log-btn:hover{
		background-color: #8848A8
	}