@charset "UTF-8";

/* ページ全体のスタイル */
body{
	background-color: #A997C6;  /* 背景カラーを薄紫に */
	min-height: 100vh;  /* 画面全体の高さを最低確保 */
	margin: 0;  /* 余白をリセット */
	font-family: Arial, sans-serif;  /* フォント指定 */
	display: flex;  /* 中央寄せのためにflexbox使用 */
	justify-content: center;  /* 水平方向の中央寄せ */
	align-items: center;  /* 垂直方向の中央寄せ */
	}

/* メインコンテナ */
.container{
	background-color: #ffffff;  /* 中央ボックスの背景色（白） */
	padding: 60px 50px 80px;  /* 内側余白 */
	box-shadow: 0 4px 12px rgba(0,0,0,0.1);  /* ボックスの影 */
	width: 450px;  /* 横幅固定 */
	margin: 60px auto;
	text-align: center;  /* テキスト中央寄せ */
	}

/* メッセージ部分の余白 */
.message{
	margin-bottom: 30px;
	font-size: 1.5em;  /* 文字サイズ */
		color: #555555;  /* 文字色 */
		line-height: 1.5;  /* 行間 */
		font-weight: normal;  /* 標準の太さ */
	}

	/* TOP へ戻るボタン */
.reverse {
	position: fixed; /* 画面固定位置 */
	top: -20px; /* 上から10px */
	left: -20px; /* 左から10px */
	margin: 20px;
	}
	
.reverse-img {
	width: 180px;   /* 好きなサイズに調整 */
	height: auto;
	cursor: pointer;
	transition: 0.2s;
	}

.reverse-img:hover {
	opacity: 0.8;
	}ze: 24px; /* 文字サイズ */
	}