@charset "UTF-8";

/* ページ全体の基本設定 */
body {
	background-size: cover;        /* 画面いっぱいに拡大縮小 */
	background-position: center;   /* 中央に配置 */
	background-repeat: no-repeat;  /* 繰り返しなし */
	min-height: 100vh;  /* 画面全体の高さを確保 */
	margin: 0;  /* ブラウザのデフォルト余白を削除 */
	display: flex;  /* 中央寄せに使うflexbox */
	justify-content: center;  /* 水平方向の中央寄せ */
	align-items: center;  /* 垂直方向の中央寄せ */
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
	padding: 0;
	background: #A997C6;
}

/* deleteUser固有: .reverse-img サイズ */
.reverse-img {
	width: 12vw;
	max-width: 180px;
	min-width: 60px;
	height: auto;
}
	
/* 中央の白いフォーム枠 */
.container {
	background-color: #ffffff; /* 白背景 */
	width: 400px; /* 横幅 */
	padding: 40px; /* 内側余白 上・左右・下 */
	box-shadow: 0 4px 12px rgba(0,0,0,0.15); /* ふわっとした影 */
	text-align: center; /* 文字中央寄せ */
	min-height: 550px;
	
	background: rgba(255, 255, 255, 0.35); /* 半透明 */
	backdrop-filter: blur(22px) saturate(140%);
	-webkit-backdrop-filter: blur(25px); /* Safari対策 */
	border-radius: 10px;
	position: relative;
	transition: box-shadow 0.3s ease;
	border: 1px solid rgba(180, 140, 255, 0.5);
}
	
.container:hover {
 	box-shadow:
	        0 0 15px rgba(180, 140, 255, 0.6),
	        0 0 40px rgba(150, 110, 255, 0.5),
	        0 0 80px rgba(120, 90, 255, 0.4),
	        0 15px 50px rgba(0, 0, 0, 0.45);
	}

.form-area{
	margin-top: 60px;
}
	
/* 見出し（削除）*/
.dUser-title {
	font-size: 48px;  /* 大きめのタイトル文字 */
	margin-bottom: 30px;  /* タイトル下の余白 */
}

/* 説明文 */
.description {
	font-size: 16px;
	color: #ff0000;
	margin-bottom: 30px;
}

/* テキスト入力欄（ユーザ名・パスワード） */
input[type="text"],
input[type="password"] {
	width: 100%; /* 幅いっぱい */
	height: 45px; /* 高さ */
	font-size: 18px; /* 文字サイズ */
	margin: 10px -10px 25px; /* 上・左右・下の余白 */
	padding: 5px 10px; /* 内側余白 */
	border: 2px solid #333; /* 黒い枠線 */
	border-radius: 4px; /* 角丸 */
	margin-bottom: 25px;  /* 下の余白 */
}

/* 削除ボタン */
.submit-btn {
	display: block;
	margin: 0 auto; /* 中央寄せ */
	width: 200px; /* ボタン幅 */
	padding: 15px 0; /* ボタンの高さ */
	margin-top: 30px; /* 上の余白 */
	/* background-color: #8848A8; /* ボタン背景色（紫）*/
	background-color: #DC143C; /* ボタン背景色（赤）*/
	color: white; /* 文字色 */
	border: none; /* 枠線なし */
	border-radius: 5px; /* 角丸 */
	font-size: 20px; /* 文字サイズ */
	cursor: pointer; /* カーソルを指マークに */
}
	
.submit-btn:hover {
	background-color: #F08080; /* ホバー時の薄い赤 */
}

/* TOP へ戻るボタン（deleteUser固有） */
.reverse {
	position: fixed; /* 画面固定位置 */
	top: 10px; /* 上から10px */
	left: 10px; /* 左から10px */
}

.reverse-img:hover {
	opacity: 0.8;
}
