/* ===============================
   文字コード設定（CSS読み込み時に使用）
   =============================== */
@charset "UTF-8";

/* ===============================
   body 全体のスタイル
   =============================== */
body {
	background-color: #A997C6; /* 背景色：薄紫 */
	min-height: 90vh; /* 画面全体の高さ確保 */
	margin: 0; /* 余白なし */
	font-family: Arial, sans-serif; /* フォント設定 */
	overflow-x: hidden;
}

/* フォームタイトル */
.mBookmark-title {
	font-size: 48px; /* 大きめの文字サイズ */
	margin-bottom: 30px; /* 下の余白 */
	text-align: center; /* 中央寄せ */
}
	
.result-count {
	text-align: center;
	font-size: 24px;
	margin-bottom: 20px;
	color: #222;
}

/* myPlaylist固有: :active の色 */
.music-area:active {
	background-color: rgba(255, 0, 255, 0.3);
	border-right: 4px solid pink;
	box-shadow: 0 4px 8px rgba(255, 0, 255, 0.4);
}

.playlist-btn{
	margin-top: -15px;
}

.music-area .id {
    font-size: 12px;
    color: #666;
}

.NoBookmark{
	text-align: center;
	font-size: 24px;
	margin-bottom: 20px;
	color: #222;
}

.BookmarkResult{
	text-align: center;
	font-size: 24px;
	margin-bottom: 20px;
	color: #222;
}

/* ===============================
   container の調整
   =============================== */
.container {
	position: fixed;  /* 固定位置 */
	bottom: 10px;  /* 画面下から20pxの位置に配置 */
	left: 50%;  /* 横方向に中央配置 */
	transform: translateX(-50%);  /* 幅が変わっても中央に位置を調整 */
	background-color: #000000;
	background: rgba(255, 255, 255, 0.5); /* 半透明 */
	padding: 30px 60px;  /* 内側の余白を広げて、コンテナを大きく */
	box-shadow: 0 4px 12px rgba(0,0,0,0.15); /* 柔らかい影 */
	width: 80%;  /* 幅を80%に設定 */
	height: 70%;  /* 高さを80%に設定 */
	max-width: 700px;  /* 最大幅を1200px */
	min-width: 500px;  /* 最小幅を600px */
	max-height: 820px;  /* 最大高さを1000px */
	min-height: 500px;  /* 最小高さを500px */
	overflow-y: auto;
	overflow-x: hidden;
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
	z-index: 1; /* containerのz-indexは低め */
	backdrop-filter: blur(22px) saturate(140%);
	-webkit-backdrop-filter: blur(25px); /* Safari対策 */
	border-radius: 10px;  /* 角を丸くする */
}
