/* ===============================
   文字コード設定（CSS読み込み時に使用）
   =============================== */
@charset "UTF-8";

/* ===============================
   body 全体のスタイル
   =============================== */
body {
	background-color: #A997C6; /* 背景色：薄紫 */
	min-height: 100vh; /* 画面全体の高さ確保 */
	margin: 0; /* 余白なし */
	font-family: Arial, sans-serif; /* フォント設定 */
	overflow-x: hidden;
}

.icon {
	width: 12vw;
	max-width: 150px;  /*最大の幅 */
	min-width: 60px;  /*最小の幅 */
	height: auto;
	margin-top: 20px; /* 上からの余白 */
	margin-left: 15px; /* 左からの余白 */
}

/* ===============================
   画面上部の検索フォームエリア
   =============================== */
.search-area {
	position: fixed; /* 固定表示 */
	top: 20px;
	left: 50%; /* 横方向中央 */
	transform: translateX(-50%); /* 中央調整 */
	display: flex; /* 子要素横並び */
	align-items: center;
	gap: 10px; /* 子要素間隔 */
	z-index: 900;
	width: 100%;
	justify-content: center;
	padding: 0 20px;
}

.search-button{
	background: rgba(255, 255, 255, 0.35); /* 半透明 */
	border-color: #000;
	padding: 0;
	cursor: pointer;
	border-radius: 20px;
	height: 45px;
}

/* 検索ボックス */
.searchbox {
	width: 50%;
	max-width: 700px;  /*最大の幅 */
	min-width: 250px;  /*最小の幅 */
	height: 30px; /* 高さ */
	font-size: 16px;
	padding: 5px 10px; /* 内側余白 */
	border-radius: 20px;
}

/* ===============================
   container の調整
   =============================== */
.container {
	position: fixed;  /* 固定位置 */
	bottom: 20px;  /* 画面下から20pxの位置に配置 */
	left: 50%;  /* 横方向に中央配置 */
	transform: translateX(-50%);  /* 幅が変わっても中央に位置を調整 */
	background-color: #000000;
	background: rgba(255, 255, 255, 0.5); /* 半透明 */
	padding: 30px 60px;  /* 内側の余白を広げて、コンテナを大きく */
	box-shadow: 0 4px 12px rgba(0,0,0,0.15); /* 柔らかい影 */
	width: 80%;  /* 幅を80%に設定 */
	height: 78%;  /* 高さを80%に設定 */
	max-width: 700px;  /* 最大幅を1200px */
	min-width: 500px;  /* 最小幅を600px */
	max-height: 820px;  /* 最大高さを1000px */
	min-height: 500px;  /* 最小高さを500px */
	overflow-y: auto;
	overflow-x: hidden;
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
	z-index: 1; /* containerのz-indexは低め */
	backdrop-filter: blur(22px) saturate(140%);
	-webkit-backdrop-filter: blur(25px); /* Safari対策 */
	border-radius: 10px;  /* 角を丸くする */
}
